<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>

    <h1>About the Wildfire Tracker</h1>

    <p>Due to climate change, wildfires have become increasingly commonplace and more severe.</p>
    <p>Our team created this tracker to help raise awareness about this issue.</p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/hello">Hello</a></li>
        </ul>
    </nav>

    <footer>
        <p>created by Anmol Ahuja, Ellie Tanji, Caroline Thomas, and Thomas Zedzian</p>
    </footer>

</body>
</html>
